Repository 9elements/firmware-action, pull requests merged in 2024-12, with the labels that each got.

#449 ci(megalinter): re-enable trivy
  .mega-linter.yml
Labels: testing, bugfix

#455 chore(action): on dagger error check of kernel module
  .cspell.json
  action/container/container.go
Labels: documentation, testing, bugfix

#454 feat(action): check for any undefined environment variable in config
  action/recipes/config.go
  action/recipes/config_test.go
Labels: feature, testing

#459 fix(docs): fix missing content from submodules
  .github/workflows/documentation-pages.yml
Labels: documentation, bugfix, github_actions

#462 docs(action): improve configuration overview
  action/recipes/config.go
Labels: documentation

#468 ci(lint): markdown link check as warning
  .mega-linter.yml
Labels: testing, bugfix

#475 test(action): update taskfile test
  .github/workflows/go-test.yml
Labels: testing, github_actions

#484 chore(deps): bump x/net due to an upstream CVE
  action/go.mod
  action/go.sum
Labels: dependencies, go
